@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaria: #25D366;
  --secundaria: #1A8C1C;
  --terciaria: #A7D1AB;
  --bg: #F2F2F2;
  --texto: #1F2426;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1F2426;
    --texto: #F2F2F2;
  }
}

body {
  color: var(--texto);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}