@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Cores */

:root {
  --primaria: #25D366;
  --secundaria: #333333;
  --terciaria: #5A7D66;
  --bg: #f8f8f8;
  --texto: #222222;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222222;
    --texto: #f8f8f8;
  }
}

/* Barra de Rolagem */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--terciaria) var(--bg);
}

/* Chrome, Edge, e Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--terciaria);
  border-radius: 20px;
  border: 3px solid var(--bg);
}

/* Tootip */

.tooltip {
  @apply invisible absolute duration-100;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* Seletores */

body {
  color: var(--texto);
  background: var(--bg);
}

h1 {
  @apply text-3xl;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
  @apply font-bold;
}

h3 {
  @apply text-xl;
  @apply font-bold;
}

p, button, a, label, input, textarea {
  @apply text-xs;
}

input, textarea {
  @apply bg-gray-100 dark:bg-secundaria border border-terciaria rounded-md hover:underline-offset-4 focus:outline-offset-4 focus:outline-primaria text-texto;
}

.caixa {
  @apply relative;
  @apply bg-bg;
  @apply w-64;
  @apply h-[550px];
  @apply rounded-t-3xl;
  @apply rounded-s-3xl;
}

.caixa::after, .caixa::before {
  content: "";
  @apply absolute;
  @apply -z-10;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -10px;
  background: linear-gradient(45deg, var(--primaria), var(--secundaria), var(--terciaria), var(--primaria), var(--secundaria), var(--terciaria));
  @apply rounded-t-3xl;
  @apply rounded-s-3xl;
  background-size: 300%;
  animation: AnimaBorda 6s linear infinite;
}

.caixa::after {
  filter: blur(10px);
}

@media (min-width: 768px) {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  p, button, a, label, input, textarea {
    @apply text-base;
  }

  .caixa {
    @apply max-w-2xl;
    @apply w-full;
  }

  .caixa::after, .caixa::before {
    left: -10px;
  }
}

@keyframes AnimaBorda {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 300%;
  }
}