@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primaria: #25D366;
  --secundaria: #1A8C1C;
  --terciaria: #A7D1AB;
  --bg: #F2F2F2;
  --texto: #1F2426;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1F2426;
    --texto: #F2F2F2;
  }
}

body {
  color: var(--texto);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-3xl;
  @apply font-bold;
}

p, button, a {
  @apply text-xs;
}

.caixa {
  @apply relative;
  @apply bg-bg;
  @apply w-64;
  @apply h-[450px];
  @apply rounded-t-3xl;
  @apply rounded-s-3xl;
}

.caixa::after, .caixa::before {
  content: "";
  @apply absolute;
  @apply -z-10;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -10px;
  background: linear-gradient(45deg, var(--primaria), var(--secundaria), var(--terciaria), var(--primaria), var(--secundaria), var(--terciaria));
  @apply rounded-t-3xl;
  @apply rounded-s-3xl;
  background-size: 300%;
  animation: AnimaBorda 6s linear infinite;
}

.caixa::after {
  filter: blur(10px);
}

@media (min-width: 768px) {
  h1 {
    @apply text-5xl;
  }

  p, button, a {
    @apply text-base;
  }

  .caixa {
    @apply max-w-2xl;
    @apply w-full;
  }

  .caixa::after, .caixa::before {
    left: -10px;
  }
}

@keyframes AnimaBorda {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 300%;
  }
}